<h1>TODO LIST</h1>
<form class="form">
    <input class="taskinput" #taskInput type="text" placeholder="do some thing...">
    <button class="tasksubmit" (click)="submitTask(taskInput.value)">+</button>
</form>
<main>
    <section class="tasklist">
        <h2>TASK LIST :</h2>
        <div class="tasks" *ngFor="let item of items, let i = index">
            <app-todo-item name="{{item.name}}" (editing)="editing(i)" (updating)="updating(i)"
                (deleting)="deleting(item.id)" [stateTask]="items[i].state">
            </app-todo-item>
        </div>
    </section>
</main>